# NetBeans specific (taken from an answer on StackExchange)
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS Specific
.directory
Thumbs.db

# Project specific
public_html/cache/
public_html/node_modules/
